
.withdraw-container {
    padding-left: 25%;
    width: 50%;
}

button {
    background-color: #04AA6D;
    width: 100%;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}
